:root {
  --primary: #2b2b3d;
  --secondary: #1A1A28;
  --darker: #16161f;
}


.main-page {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh; /* Full viewport height */
  margin-top: 5px;
}

.chart-block {
  flex: 8;
  width: 70%;
  box-sizing: border-box;
}

.datalist-block {
  width: 15%;
  box-sizing: border-box;
  /* border-radius: 0; */
  border-top-left-radius: 150px;
}


.sidebar {
  /* display: flex; */
  
  background-color: var(--secondary);
  padding: 4px;
  border-radius: 0;
  margin: 0;
  position: sticky;
  flex: 0 0 30px;
}

.nav-bar.left {
  height: 100vh;
  background-color: var(--secondary);
  padding: 4px;
  border-radius: 0;
  margin: 0;
  flex: 0 0 30px;
}

.sidebar.left {
  margin-right: 5px;  
}

.sidebar.right {
  margin-left: 5px;
}

body {
  margin: 0;
  background-color: var(--primary);
}

.search-bar {
  background-color: var(--secondary);
}

.nav-bar * {
  color: white;
}

.add-to-watchlist-dialog{
  background-color: var(--primary);
}

.watchlist {
  background-color: var(--secondary);
  color: white;
  
}

.watchlist-item:hover {
  background-color: var(--darker);
  
}